<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Bb_Eav>
            <version>0.1.0</version>
        </Bb_Eav>
    </modules>
    <global>
        <models>
            <bb_eav>
                <class>Bb_Eav_Model</class>
            </bb_eav>
            <eav>
                <rewrite>
                    <entity_attribute_source_table>Bb_Eav_Model_Entity_Attribute_Source_Table</entity_attribute_source_table>
                </rewrite>
            </eav>
        </models>
    </global>

</config>